<div class="container-fluid">
    <div class="row box-yellow">
      <div class="col-sm-10 col-sm-push-1">
        <div class="partner-title">
          Qual é o <b>perfil</b> para ser um <b>parceiro</b>?<br>
          Basta querer <b>dividir conhecimento</b>, ou seja:
        </div>
      </div><!--end of title-->
    </div>

    <div class="row box-yellow"> <!--starts of icons-->
      <div class="space40"></div>
      <div class="col-sm-3 col-sm-push-2">
        <%= image_tag("icons/icon-school01.png", alt: "ensino", class: "img-responsive") %>
        <div class="partner-subtitle">
          Instituições de Ensino
        </div>
      </div><!--end of school-->

      <div class="col-sm-3 col-sm-push-2 center">
        <%= image_tag("icons/icon-pro01.png", alt: "ensino", class: "img-responsive") %>
        <div class="partner-subtitle">
          Profissionais autônomos
        </div>
      </div><!--end of pro-->

      <div class="col-sm-3 col-sm-push-2">
        <%= image_tag("icons/icon-pro01.png", alt: "ensino", class: "img-responsive") %>
        <div class="partner-subtitle">
          Empresas
        </div>
      </div><!--end of company-->
    </div> <!--end of icons 01-->


    <div class="row box-yellow"> <!--starts of icons-->
      <div class="col-sm-3 col-sm-push-2">
        <div class="img-center">
          <%= image_tag("icons/icon-comu01.png", alt: "ensino", class: "img-responsive") %>
        </div>
        <div class="partner-subtitle">
          Meios de Comunicação <br>que trabalhem com cursos e eventos de qualificação
        </div>
      </div><!--end of school-->

      <div class="col-sm-3 col-sm-push-2 center">
        <%= image_tag("icons/icon-computer01.png", alt: "ensino", class: "img-responsive") %>
        <div class="partner-subtitle">
          Cursos on line <br>(EAD - Ensino a Distância)
        </div>
      </div><!--end of pro-->

      <div class="col-sm-3 col-sm-push-2 icon-center">
        <%= image_tag("icons/icon-local01.png", alt: "ensino", class: "img-responsive") %>
        <div class="partner-subtitle">
          Espaços para Eventos
        </div>
      </div><!--end of company-->
    </div> <!--end of icons 01-->
  </div> <!--end of container yeollow!-->
  <div class="row box-yellow"> <!--starts of icons-->
    <div class="space60"></div>
  </div>

  <div class="space40"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-push-1">
        <div class="partner-title">
          Conheça os benefícios
        </div>
      </div>
    </div>

    <div class="space40"></div>

  <div class="row">
    <div class="col-sm-10 col-sm-push-2">
        <p><%= image_tag("icons/tick-blue.png", alt: "tick", class: "img-responsive") %>&nbsp;
            É totalmente gratuito.</p>
        <br>
        <p><%= image_tag("icons/tick-blue.png", alt: "tick", class: "img-responsive") %>&nbsp;
          Você pode publicar quantos eventos/cursos desejar gratuitamente
          desde que os mesmos estejam de acordo com os nossos termos e condições.</p>
        <br>
        <p><%= image_tag("icons/tick-blue.png", alt: "tick", class: "img-responsive") %>&nbsp;
          Você poderá aumentar a sua rede de divulgação. </p>
        <br>
        <p><%= image_tag("icons/tick-blue.png", alt: "tick", class: "img-responsive") %>&nbsp;
          Facilidade para ser encontrado com poucos clicks e de forma muito fácil. </p>
        <br>
        <p><%= image_tag("icons/tick-blue.png", alt: "tick", class: "img-responsive") %>&nbsp;
          Somos totalmente abertos a sugestões e faremos o possível para
          nos adequarmos as suas necessidades.</p>
        <br>
        <p><%= image_tag("icons/tick-blue.png", alt: "tick", class: "img-responsive") %>&nbsp;
          Queremos lhe ajudar a alcançar o seu sucesso, seus sonhos.</p>
        <br>
        <p><%= image_tag("icons/tick-blue.png", alt: "tick", class: "img-responsive") %>&nbsp;
          Comece a divulgar seu evento ou seu curso agora mesmo.</p>
    </div>
  </div>
</div>

  <div class="space120"></div>

  <div class="container-fluid">
    <div class="row box-blue">

      <div class="row">
        <div class="col-sm-10 col-sm-push-1">
          <div class="partner-title-white">
            Deveres do Parceiro<br>
            Quem irá ser responsável e gerenciar os dados referentes aos
            <br>cursos e eventos é o próprio parceiro por isso deve-se sempre:
          </div>

          <div class="space20"></div>

        <div class="col-sm-10 col-sm-push-1">
          <div class="partner-title-white-small-left">

            <br><%= image_tag("icons/tick-yellow.png", alt: "tick", class: "img-responsive") %>&nbsp;
            É totalmente gratuito.
            <br>

            <br><%= image_tag("icons/tick-yellow.png", alt: "tick", class: "img-responsive") %>&nbsp;
            Você pode publicar quantos cursos desejar gratuitamente desde
            que os mesmos estejam de acordo com os nossos termos e condições.
            <br>

            <br><%= image_tag("icons/tick-yellow.png", alt: "tick", class: "img-responsive") %>&nbsp;
            Você poderá aumentar a sua rede de divulgação.
            <br>

            <br><%= image_tag("icons/tick-yellow.png", alt: "tick", class: "img-responsive") %>&nbsp;
            Facilidade para ser encontrado com poucos clicks e de forma muito fácil.
            <br>

            <br><%= image_tag("icons/tick-yellow.png", alt: "tick", class: "img-responsive") %>&nbsp;
            Somos totalmente abertos a sugestões e faremos o possível para
             nos adequarmos as suas necessidades.
            <br>

            <br><%= image_tag("icons/tick-yellow.png", alt: "tick", class: "img-responsive") %>&nbsp;
            Queremos lhe ajudar a alcançar o seu sucesso, seus sonhos.
            <br>

            <br><%= image_tag("icons/tick-yellow.png", alt: "tick", class: "img-responsive") %>&nbsp;
            Comece a divulgar seu evento ou seu curso agora mesmo.
            <br>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-10 col-sm-push-1">
            <div class="space120"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

</div>
</div>
  </div>


  <div class="space80"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-push-1">
        <div class="partner-title">
          Requesitos para ser uma parceiro
        </div>
      </div>
    </div>

    <div class="space40"></div>

  <div class="row">
    <div class="col-sm-8 col-sm-push-2">
      <p> É muito fácil ser um parceiro. Para fazer sua primeira divulgação basta você entrar no site, fazer seu cadastro e
          preencher os campos com suas informações para que você tenha acesso à área de parceiros. </p>
      <p> Com o cadastro efetuado basta você cadastrar os dados do seu(s) cursos(s)/eventos(s) para começar a divulgar.
          Nos próximos acessos você deverá preencher apenas seu login e senha. Fácil assim.</p>
          <br>
     <h4> Gostou da ideia? Comece agora mesmo! <h4>
    </div>
  </div>

</div>
</div>

<div class="space120"></div>
