<%= simple_form_for(@company) do |f| %>
  <%= render "companies/shared/error_messages" %>

  <div class="form-group">
    <%= f.label :cnpj %><br>
    <%= f.text_field :cnpj , class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.association :user, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.association :category_types , label_method: :select_label, class: 'form-control' %>
    <small class="text-muted">Use o <kbd>CTRL</kbd> para selecionar mais de uma área.</small>
  </div>
  <div class="form-group">
    <%= f.label :site %><br>
    <%= f.text_field :site, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :contact %><br>
    <%= f.text_field :contact, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.input :marketing, class: 'form-control'%>
  </div>

  <br>
  <h3>Endereços: </h3><br>
  <div class="enderecos">
    <%= f.fields_for :enderecos do |e| %>
      <%= render 'enderecos/endereco_fields', f: e %>
    <% end %>
    <%= link_to_add_association "Adicionar Endereço", f, :enderecos,
            partial: 'enderecos/endereco_fields', class: "btn btn-default" %>
  </div>

  <br>
  <%= f.submit "Salvar", class: 'btn btn-primary' %>

<% end %>
