<%= form_for(@company) do |f| %>
  <%= render "companies/shared/error_messages" %>

  <div class="form-group">
    <%= f.label :cnpj %><br>
    <%= f.text_field :cnpj , class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :contact %><br>
    <%= f.text_field :contact, class: 'form-control'%>
  </div>

  <h3>Endereços: </h3><br>
  <%= f.fields_for :enderecos do |e| %>
    <hr>
    <div class="form-group">
      <%= e.label :cep %><br>
      <%= e.text_field :cep, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= e.label :cidade %><br>
      <%= e.text_field :cidade, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= e.label :estado %><br>
      <%= e.text_field :estado, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= e.label :bairro %><br>
      <%= e.text_field :bairro, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= e.label :logradouro %><br>
      <%= e.text_field :logradouro, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= e.label :numero %><br>
      <%= e.text_field :numero, class: 'form-control' %>
    </div>
  <% end %>

  <%= f.submit "Salvar", class: 'btn btn-primary' %>

<% end %>
