<p>
  <h2>Empresa:  <%= @company.name %> </h2>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @company.cnpj %>
</p>

<p>
  <strong>Fone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @company.contact %>
</p>

<p>
  <h2>Endereços:</h2>
</p>

<% @company.enderecos.each do |endereco| %>
  <hr>
  <p>
    <strong>Cep: </strong>
    <%= endereco.cep %>
  </p>
  <p>
    <strong>Cidade: </strong>
    <%= endereco.cidade %>
  </p>
  <p>
    <strong>Logradouro: </strong>
    <%= endereco.logradouro %>
  </p>

<% end %>

<%= link_to 'Voltar', companies_path, class: 'btn btn-default btn-sm' %>

<% if @company.user_id == current_user.id || current_user.admin? %>
  <br><br>
  <%= link_to 'Editar', edit_company_path(@company), class: 'btn btn-default btn-sm' %> |
  <%= link_to 'Deletar', @company, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Tem certeza?' } %>
<% end %>
