<p>
  <h2>Empresa:  <%= @company.name %> </h2>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @company.cnpj %>
</p>

<p>
  <strong>Fone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @company.contact %>
</p>

<p>
  <h3>Endereços:</h3>
</p>

<% @company.enderecos.each do |endereco| %>
  <hr>
  <p>
    <strong>Cep: </strong>
    <%= endereco.cep %>
  </p>
  <p>
    <strong>Cidade: </strong>
    <%= endereco.cidade %>
  </p>
  <p>
    <strong>Logradouro: </strong>
    <%= endereco.logradouro %>
  </p>

<% end %>

<% if @company.user_id == current_user.id || current_user.admin? %>
  <br><br>
  <p>
    <hr>
    <h3>Usuarios Autorizados:</h3>
  </p>
  <% if @company.employees %>
    <% @company.employees.each do |employee| %>
      <p>
        <%= employee.email %>
        <%= link_to '', company_employee_path(@company, employee),
                        class: 'glyphicon glyphicon-remove',
                        method: :delete, data: { confirm: "Tem certeza?" } %>
      </p>
    <% end %>
  <% end %>

  <%= simple_form_for [@company, @company.employees.new] do |f| %>
    <%= f.error_notification %>
    
    <div class="form-group form-employee">
      <%= f.input :email, class: 'form-control'%>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Adicionar", class: 'btn btn-primary'  %>
    </div>
  <% end %>

  <br><br>
  <%= link_to 'Editar', edit_company_path(@company), class: 'btn btn-default btn-sm' %> |
  <%= link_to 'Deletar', @company, class: 'btn btn-danger btn-sm',
                      method: :delete, data: { confirm: 'Tem certeza?' } %> |
<% end %>
<%= link_to 'Voltar', companies_path, class: 'btn btn-default btn-sm' %>
