<%= simple_form_for(@course) do |f| %>

  <div class="form-group">
    <%= f.input :title , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :Descrição %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :Sobre %><br>
    <%= f.text_area :about, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :Local %><br>
    <%= f.text_field :place, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.association :category_type , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.association :company , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :Avaliação %><br>
    <%= f.text_field :rating , class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.input :begins_at , class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.input :ends_at , class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.input :total_hours , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.association :mode, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.association :areas, class: 'form-control' %>
    <small class="text-muted">Use o <kbd>CTRL</kbd> para selecionar mais de uma Area</small>
  </div>
  <div class="form-group">
    <%= f.association :certificate, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :investment , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :payment_method , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :requirements , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :keywords , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :lecturer_name , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :lecturer_resume , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :link_inscription , class: 'form-control' %>
  </div>
  <br>
  <%= f.submit "Salvar", class: 'btn btn-primary' %>
<% end %>
