<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :Sobre %><br>
    <%= f.text_area :about, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.association :category_type , label_method: :select_label, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.association :company , class: 'form-control' %>
    <%= f.association :company,  collection: Employee.where(email: @current_user.email), label_method: :company_name, value_method: :company_id, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.input :begins_at , class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.input :ends_at , class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.input :total_hours , class: 'form-control' %>
    <small class="text-muted">hora(s).</small>
  </div>
  <div class="form-group">
    <%= f.association :mode, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.association :areas, as: :check_boxes, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.association :certificate, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :price , class: 'form-control' %>
    <%= f.input :free , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :payment_method , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :requirements , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :keywords , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :lecturer_name , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :lecturer_resume , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :link_inscription , class: 'form-control' %>
  </div>

  <h3>Endereços: </h3><br>
  <div class="enderecos">
    <%= f.fields_for :enderecos do |e| %>
      <%= render 'enderecos/endereco_fields', f: e %>
    <% end %>
    <%= link_to_add_association "Adicionar Endereço", f, :enderecos,
              partial: 'enderecos/endereco_fields', class: "btn btn-default" %>
  </div>

  <br>
  <%= f.submit "Salvar", class: 'btn btn-primary form-control' %>
<% end %>
