<%= simple_form_for(@course) do |f| %>

  <div class="form-group">
    <%= f.input :title , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :Sobre %><br>
    <%= f.text_area :about, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.association :category_type , label_method: :select_label, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.association :company , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :begins_at , class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.input :ends_at , class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.input :total_hours , class: 'form-control' %>
    <small class="text-muted">hora(s).</small>
  </div>
  <div class="form-group">
    <%= f.association :mode, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.association :areas, class: 'form-control' %>
    <small class="text-muted">Use o <kbd>CTRL</kbd> para selecionar mais de uma área.</small>
  </div>
  <div class="form-group">
    <%= f.association :certificate, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :price , class: 'form-control' %>
    <%= f.input :free , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :payment_method , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :requirements , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :keywords , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :lecturer_name , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :lecturer_resume , class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.input :link_inscription , class: 'form-control' %>
  </div>
  <br>
  <%= f.submit "Salvar", class: 'btn btn-primary' %>
<% end %>
