<div class="sidebar col-xs-3">

  <div class="list-group">
    <div class="list-group-item barside-top">
      <h4>Tipo</h4>
    </div>
    <div class="body-side-bar">
      <ul class="list-group">
        <%- @courses.aggs['category_name']['buckets'].each do |aggs| %>
          <li class="list-group-item">
            <%= link_to_category(aggs) do %>
              <%= aggs['key']  %>
              <span class="badge"> <%= aggs['doc_count']  %> </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="list-group">
    <div class="list-group-item barside-top">
      <h4>Área</h4>
    </div>
    <div class="body-side-bar">
      <ul class="list-group">
        <%- @courses.aggs['area_name']['buckets'].each do |aggs| %>
          <li class="list-group-item">
            <%= link_to_area(aggs) do %>
              <%= aggs['key']  %>
              <span class="badge"> <%= aggs['doc_count']  %> </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="item-group">
    <div class="list-group-item barside-top">
      <h4>Modo</h4>
    </div>
    <div class="body-side-bar">
      <ul class="list-group">
        <%- @courses.aggs['mode_name']['buckets'].each do |aggs| %>
          <li class="list-group-item">
            <%= link_to_mode(aggs) do %>
              <%= aggs['key']  %>
              <span class="badge"> <%= aggs['doc_count']  %> </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="item-group">
    <div class="list-group-item barside-top">
      <h4>Certificado</h4>
    </div>
    <div class="body-side-bar">
      <ul class="list-group">
        <%- @courses.aggs['certificate_name']['buckets'].each do |aggs| %>
          <li class="list-group-item">
            <%= link_to_certificate(aggs) do %>
              <%= aggs['key']  %>
              <span class="badge"> <%= aggs['doc_count']  %> </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="item-group">
    <div class="list-group-item barside-top">
      <h4>Parceiro</h4>
    </div>
    <div class="body-side-bar">
      <ul class="list-group">
        <%- @courses.aggs['company_name']['buckets'].each do |aggs| %>
          <li class="list-group-item">
            <%= link_to_company(aggs) do %>
              <%= aggs['key']  %>
              <span class="badge"> <%= aggs['doc_count']  %> </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
