<div class="container">
  <div class="row">

  </div>

  <div class="row">
    <div class="col-sm-12">
      <p class="home-titles-courses"> <%= @course.title %> </p>
      <p class="home-titles-legenda"> <%= @course.about %> </p>
    </div>
  </div>

  <div class="divider"> </div>

  <div class="row">
    <div class="col-sm-8">
      <p class="courses-subtitles"> Sobre o Curso</p>
      <p class="courses-text"> <%= @course.about %> </p>
      <p class="courses-subtitles">Requisitos Mínimos</p>
      <p class="courses-text"> <%= @course.requirements %> </p>
      <p class="courses-subtitles"> Conteúdo Programático</p>
      <p class="courses-text">
        <%= @course.description %>
      </p>
      <p class="courses-subtitles"> Ministrante(s)</p>
        <p class="courses-text">
          <%= @course.lecturer_name %>
        </p>
    </div>

    <div class="space60"></div>
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-info-courses">
          <div class="panel-heading"></div>
          <div class="panel-body">
            <p invest>
              <strong>Investimento (R$):</strong>
              <% if @course.free %>
                GRATUITO
              <% else %>
                <%= @course.price %>
              <% end %>
            </p>
          </div>
        </div>

        <div class="panel panel-info-courses">
          <div class="panel-heading"></div>
          <div class="panel-body">
            <p><strong>Modo:</strong>
              <% if @course.mode %>
                <%= @course.mode.name %>
              <% end %>
            </p>
            <p><strong>Carga horária:</strong>
              <%= @course.total_hours %> horas/aula</p>
          </div>
        </div>

        <div class="panel panel-info-courses">
          <div class="panel-heading"></div>
          <div class="panel-body">
            <p><strong> Data:</strong> <%= @course.begins_at.strftime("%d-%B-%Y") %></p>
            <p><strong> Horário:</strong> <%= @course.begins_at.strftime("%T")  %></p>
            <p><strong> Local:</strong> Livre</p>
          </div>
        </div>

        <div class="panel panel-info-courses">
          <div class="panel-heading"></div>
          <div class="panel-body">
            <p panel>Site</p>
            <p><span class="glyphicon glyphicon-cloud"></span>
              <%= link_to @course.link_inscription , "http://#{@course.link_inscription}" %>
            </p>
          </div>
        </div>

        <%= link_to 'Editar', edit_course_path(@course), class: 'btn btn-default btn-sm'  %> |
        <%= link_to 'Voltar', courses_path, class: 'btn btn-default btn-sm'  %> |
        <%= link_to 'Deletar', @course, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Tem certeza?' } %>
      </div>
    </div>

  </div>
</div>

<div class="space60"></div>

<div class="container">
  <div class="divider-small"> </div>
  <div class="row">
    <div class="col-sm-6 share-social-medias">
      <div class="space10"> </div>
      <!-- Facebook -->
      <%= link_to raw('<i class="fa fa-facebook pull-left"></i> Facebook'),
              "https://www.facebook.com/sharer/sharer.php?u=" +
              "http://#{request.host+request.fullpath}",
              class: 'btn btn-facebook' %>

      <!-- Google+ -->
      <%= link_to raw('<i class="fa fa-google pull-left"></i> Google+'),
              "https://plus.google.com/share?url=" +
              "http://#{request.host+request.fullpath}",
              class: 'btn btn-googleplus' %>

      <!-- Twitter -->
      <%= link_to raw('<i class="fa fa-twitter pull-left"></i> Twitter'),
              "http://twitter.com/home?status=" +
              "http://#{request.host+request.fullpath}",
              class: 'btn btn-twitter' %>

      <!-- LinkedIn -->
      <%= link_to raw('<i class="fa fa-linkedin pull-left"></i> Linkedin'),
              "http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=" +
              "http://#{request.host+request.fullpath}",
              class: 'btn btn-linkedin' %>

    </div>
  </div>
</div>

<div class="space60"></div>
