<!DOCTYPE html>
<html>
  <head>
    <title>Buscacurso</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <div class="row">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"> <%= value %></div>
        <% end %>

        <%= yield :top_content %>

        <div class="container-fluid">
          <%= yield %>
        </div>

        <%= render 'layouts/footer' %>

      </div>
    </div>
  </body>
</html>
